@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Noto+Sans+TC:wght@700&display=swap');


/* Global Variables */
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --global-padding: 20px;
  --global-padding-small: 10px;
  --global-radius: 18px;
  --global-size: 80px;
}

/* Global Styles */
body {
  font-family: "Cactus Classical Serif", "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

*::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--global-padding);
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
  
}

.subtitle {
  border-left: 2px solid var(--primary-color);
  padding-left: var(--global-padding-small);
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--global-padding);
  background-color: var(--secondary-color);
  border-top: 1px solid var(--primary-color);
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 100;
}

footer p {
  margin-bottom: 0;
  flex: 1 1 auto;
  padding-left: var(--global-padding);
}
footer a {
  color: var(--primary-color);
  text-decoration: none;
  margin-right: var(--global-padding-small);
}

/* LOADING */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease;
}
#loading.animation .loading-text {
  animation: loading 1s ease infinite;
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#loading.hidden {
  opacity: 0;
}
.loading-text {
  padding: var(--global-padding);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  word-break: break-all;
}
.contact-info {
  flex: 1 1 auto;
  text-align: right;
}
.color-palette {
  flex: 1 1 auto;
  height: 0.25rem;
  background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
}

.color-palette-white,.color-palette-black {
  flex: 0 0 var(--global-padding-small);
  height: var(--global-padding-small);
  margin: 0 var(--global-padding-small);
}
.color-palette-white {
  background-color: #ffffff;
}
.color-palette-black {
  background-color: #000000;
}

.size-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  flex: 1 0 auto;
}
.size-controller-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex: 0 0 auto;
  margin: 0 0.2rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.size-controller-button:active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  overflow-y: auto;
}

.modal-container::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.modal-container::-webkit-scrollbar-track {
  background: #000;
}

.modal-container::-webkit-scrollbar-thumb {
  background: #fff;
}

.modal-container::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.modal-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--global-size);
  height: var(--global-size);
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0;
  cursor: pointer;
}


/* FILTER */
#filter {
  display: flex;
  flex-wrap: wrap;
  padding: var(--global-padding-small);
  border-bottom: 1px solid var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  /* mix-blend-mode: multiply; */
  background: linear-gradient(to bottom, var(--secondary-color), transparent);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.18); 
  border-radius: var(--global-radius);
}


#filter button {
  padding: var(--global-padding-small);
  border: 1px solid var(--primary-color);
  border-radius: var(--global-radius);
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: var(--global-padding-small);
  padding: var(--global-padding-small) var(--global-padding);
  font-size: 1rem;
}
#filter button:hover, #filter button.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


/* ABOUT */
#about {
  padding: var(--global-padding);
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
}

.intro-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.intro-cn {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.1rem;
  margin-bottom: var(--global-padding-small);
  font-weight: 700;
}

.intro-en {
  font-family: "Cactus Classical Serif", serif;
  font-size: 1rem;
  opacity: 0.8;
  line-height: 1.4;
}

/* PROJECTS */
#projects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--global-padding);
  padding: var(--global-padding);
  margin-top: calc(var(--global-padding) * -1);
}

article {
  /* max-width: 100%; */
  flex: 1 1 auto;
  padding: var(--global-padding);
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  position: relative;
}

article p, article ul {
  max-width: 500px;
}

article.-link {
  padding-bottom: calc(var(--global-size) + var(--global-padding-small));
  padding-right: calc(var(--global-size) + var(--global-padding-small));
}

.project-links {
  position: absolute;
  bottom: var(--global-padding-small);
  right: var(--global-padding-small);
  width: var(--global-size);
  height: var(--global-size);
}

.project-link {
  display: block;
  padding: var(--global-padding-small);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: var(--global-size);
}
.project-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  transition: all 0.1s linear;
  border-right: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
.project-link:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.project-link:hover::after {
  bottom: var(--global-padding-small);
  right: var(--global-padding-small);
  top: var(--global-padding-small);
  left: var(--global-padding-small);
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.project-images {
  position: absolute;
  bottom: var(--global-padding-small);
  left: var(--global-padding-small);
  width: var(--global-size);
  height: var(--global-size);
  overflow: hidden;
  background: url("images/image-placeholder.png") no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
  mix-blend-mode: difference;
}
.project-images:hover {
  border: 2px solid var(--primary-color);
}
.project-images .project-image {
  display: none;
}

h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: var(--global-padding-small);
}

p {
  margin-bottom: var(--global-padding);
  line-height: 1.25;
}

ul {
  margin-bottom: var(--global-padding-small);
  padding: var(--global-padding-small) var(--global-padding);
  position: relative;
}
ul li {
  position: relative;
}
ul>li::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  right: 100%;
  top: 0;
  background-color: var(--primary-color);
}
ol {
  padding: var(--global-padding-small) var(--global-padding);
  margin-bottom: var(--global-padding-small);
  line-height: 1.25;
  list-style-type: decimal;
}
li {
  margin-bottom: var(--global-padding-small);
  line-height: 1.25;
}
strong {
  font-family: "Noto Sans TC", sans-serif;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  :root {
    font-size: 16px !important;
    --global-padding: 10px !important;
    --global-padding-small: 5px !important;
    --global-radius: 12px !important;
    --global-size: 40px !important;
  }
  article {
    width: 100%;
  }
  .color-palette {
    display: none;
  }
  .size-controller {
    display: none;
  }
}
